.tariffs {
	padding: 40px 0 100px;
}

.tariffs__heading {
	display: block;
	font-weight: 600;
	font-size: 48px;
	line-height: 57.6px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #343033;
	text-align: center;
	margin: 0 0 60px;
}

.tariffs__heading-blue {
	color: #259DD6;
}

.tariffs__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
}