.btn {
  outline: none;
  padding: 14px 24px;
  color: $color-white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  border: none;
  background-color: $color-black-russian;
  border-radius: 8px;
  cursor: pointer;

  @include mvp-tablet{
    font-size: 14px;
  }

  &--second {
    padding: 18px;
    font-size: 15px;
    line-height: 20px;
    background-color: $color-royal-blue-1;

    @include mvp-tablet {
      font-size: 13px;
      line-height: 16px;
      padding: 16px;
    }
  }

  &--third {
    color: $color-black-russian;
    padding: 14px;
    font-size: 15px;
    line-height: 20px;
    background-color: $color-white;

    @include mvp-tablet {
      font-size: 13px;
      line-height: 16px;
      padding: 12px;
    }
  }

  &--fourth {
    color: $color-black-russian;
    background-color: $color-solitude-1;
  }

  &--fifth {
    color: $color-black-russian;
    background-color: transparent;

    @include mvp-tablet {
      padding: 0;
    }
  }

  &--sixth {
    padding: 12px;
    font-size: 13px;
    line-height: 16px;

    @include mvp-mobile {
      font-size: 12px;
    }
  }
}
