body {
	background-color: lightgrey;
}

.delivery__cards {
	display: flex;
	gap: 20px;
}

.delivery__card {
	background-color: white;
	max-width: 250px;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
}

.delivery__card-group:not(:last-child) {
	margin-bottom: 15px;
}

.delivery__card-label {
	color: grey
}

.delivery__card-value {
	font-weight: 700;
	font-size: 18px;
}