.height {
	padding: 0 20px;
}

.height__heading {
	font-size: 30px;
}

.height__buttons {
	display: flex;
	gap: 10px;
}

.btn {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.2s ease-in;
}

.btn--main {
	background-color: blue;
}

.btn--secondary {
	background-color: green;
}

.btn:hover {
	opacity: 0.75;
}

.height__list {
	display: inline-flex;
	gap: 5px;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	font-size: 20px;
}

.height__item {
	border: 2px solid transparent;
	border-radius: 0;
	padding: 0;
	font-weight: normal;
	transition: all 0.5s ease-in-out;
}

.height__item + .outline {
	border: 2px solid red;
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
}