.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include mvp-tablet {
    gap: 40px 28px;
  }

  @include mvp-mobile {
    grid-template-columns: 100%;
    gap: 30px;
  }

  &__item {
    display: flex;

    &--size-xl {
      grid-column: 1 / -1;
      border-radius: 16px;
      overflow: hidden;
    }

    @include mvp-mobile {
      all: unset;
    }
  }
}
