.product-form {

	&__top-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 10px;
	}

	&__loan {

		&-link {

			&:hover .product-form__loan-icon {
				background-color: $color-black-coffee;
			}
		}

		&-icon {
			padding: 6px;
			background-color: #000;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 4px;

			@include mvp-mobile {
				width: 56px;
				height: 18px;
			}
		}
	}

	&__radios {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 0;

		@include mvp-tablet {
			gap: 2px;
		}
	}

	&__category {
		font-weight: 500;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $color-cloudy;
		margin: 0 0 2px;
		display: flex;

		@include mvp-tablet {
			font-size: 10px;
			line-height: 1.2;
		}

		@include mvp-mobile {
			margin: 0 0 4px;
		}
	}

	&__heading {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.3;
		text-transform: uppercase;
		margin: 0 0 10px;
		display: inline-block;

		@include mvp-tablet {
			font-size: 18px;
			line-height: 1.33;
		}

		@include mvp-mobile {
			font-size: 14px;
			line-height: 1.285;
			margin: 0 0 5px;
		}

		&:hover {
			color: $color-axolotl;
		}
	}

	&__prices {
		display: flex;
		align-items: center;
		gap: 10px;
		margin: 0 0 20px;

		@include mvp-tablet {
			gap: 5px;
		}

		@include mvp-mobile {
			margin: 0 0 15px;
		}
	}

	&__price {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;

		@include mvp-tablet {
			font-size: 14px;
			line-height: 1.285;
		}

		@include mvp-mobile {
			font-size: 12px;
			line-height: 1.333;
		}

		&--old {
			font-size: 14px;
			line-height: 1.285;
			color: $color-cloudy;
			text-decoration: line-through;

			@include mvp-tablet {
				font-size: 12px;
				line-height: 1.333;
			}

			@include mvp-mobile {
				font-size: 10px;
				line-height: 1.2;
			}
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;

		@include mvp-tablet {
			gap: 4px;
		}
	}

	&__btn {
		flex-grow: 1;
	}
}