body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

p {
	margin: 0;
	margin-top: 5px;
}

#app {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	flex-grow: 1;
	padding-top: 50px;
}


.progress-bar {
	height: 20px;
	width: 500px;
	background-color: blue;
	transform: scaleX(0);
	transform-origin: left;
	align-self: start;
}