// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-bokara-grey:#141211;
$color-black-coffee: #3B332F;
$color-hint-of-red: #f4f3f2;
$color-cloudy: #aea29a;
$color-swiss-coffee: #d7cfcb;
$color-moon-mist: #c8c8b6;
$color-bokara-grey-40: rgba(20, 18, 17, 0.4);
$color-black-40: rgba(0, 0, 0, 0.4);
$color-bright-gray: #EAE9E9;
$color-timberwolf: #DEDED2;
$color-axolotl: #727254;
$color-grullo: #A6A687;
$color-crimson: #E80E0A;

//Product-Card Colors
$color-platinum: #EAE2DE;
$color-ebony: #62664A;
$color-cadet-grey: #92A7A6;
$color-cola: #3D2E25;
$color-earth-yellow: #E0B363;

// Typography
$ff-mulish: "Mulish", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
