body {
	background-color: #c3cdd4;
}

table {
	border-spacing: 0;
	border-collapse: collapse; 
}

tr {
	border-bottom: 1px solid grey;
}

tr:last-child {
    border-bottom: none;
}

th button {
	width: 100%;
	height: 100%;
	text-align: left;
}

th {
	background-color: #2c2c2c;
}

td {
	padding: 10px 20px;
	background-color: #fdfdfd;
}

form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 500px;
}

h1:has(+ form) {
	text-align: center;
}

input {
	width: 100%;
	padding: 8px 20px;
	border-radius: 20px;
	border: none;
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px dotted #008078;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	box-sizing: border-box;
	animation: rotation 2s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.container:has(form) {
	max-width: 500px;
	display: flex;
	flex-direction: column;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: space-between;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 20px;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.btn {
	border-radius: 20px;
	padding: 10px 20px;
	color: #fff;
	background-color: #018178;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background-color: #004d48;
}

.btn--table {
	border-radius: 0;
	background: none;
}

.btn--table:hover {
	background-color: #525252;
}

.delete-btn {
	width: 100%;
	padding: 5px 10px;
	background-color: #a1001a;
}

.delete-btn:hover {
	background-color: #6d0011;
}

.just-validate-error-label {
	padding-left: 20px;
	position: absolute;
}