body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input[type="checkbox"] {
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #444;
  cursor: pointer;
}

form select {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px #999;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  vertical-align: top;
}

.input__wrapper {
  flex-grow: 1;
}

#film-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter {
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 20px;
}

#filter-form {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  align-items: stretch;
  margin-bottom: 0;
}

#clear-allfilms {
  flex-grow: 0;
}

.btn {
  padding: 10px 20px;
  background-color: rgb(255, 50, 50);
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn--wide {
  width: 100%;
}