@font-face {
	font-family: 'Golos Text';
	src: url('../../fonts/GolosText-Regular.woff2') format('woff2'),
		url('../../fonts/GolosText-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Golos Text';
	src: url('../../fonts/GolosText-Medium.woff2') format('woff2'),
		url('../../fonts/GolosText-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}